td {
    height: 50px;
    vertical-align: middle;
}

.pagination .page-link {
    background-color: rgb(218, 218, 218);
}

.pagination .page-link:hover {
    background-color: #bbbbbb;
}

.pagination .page-item.active .page-link {
    background-color: #32beff;
    border: none;
    cursor: pointer;
}

.pagination .page-item:not(.active) .page-link {
    border: none;
    box-shadow: none;
    cursor: pointer;
}