td {
    height: 50px;
    vertical-align: middle;
}

.pagination .page-link {
    background-color: #198754;
    color: white;
}

.pagination .page-link:hover {
    background-color: #146c43;
    color: white;
}

  

.pagination .page-item.active .page-link {
    background-color: #146c43;
    border: none;
    cursor: pointer;

    
}
.pagination-button {
    width: 40px;
    height: 40px;
  }


.pagination .page-item:not(.active) .page-link {
    border: none;
    box-shadow: none;
    cursor: pointer;
color: #fff;
    --bs-pagination-focus-bg: #146c43;

 
}